{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "printWidth": 80,
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "strict",
  "proseWrap": "always",
  "quoteProps": "consistent",
  "vueIndentScriptAndStyle": true
}
